<% if friend.user == current_user%>
<div id="<%= dom_id friend %>">

<div class="jumbotron">
  <h2 class="display-4">
  <%= link_to friend.first_name + " " +  friend.last_name, friend %>
 </h2>
 <p class="lead"><%= friend.email %> | <%= friend.phone %> | <%= friend.twitter %></p>

  <hr class="my-4">
   
<br />
 
</div>


</div>
<% end %>